on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  issues: write

name: release-please

jobs:
  release-please:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Run release-please
        uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
      # The logic below handles the npm publication:
      - name: Checkout Git repository
        # these if statements ensure that a publication only occurs when
        # a new release is created:
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          registry-url: 'https://registry.npmjs.org'
          cache: yarn
        if: ${{ steps.release.outputs.release_created }}
      - name: Install dependencies with Yarn
        if: ${{ steps.release.outputs.release_created }}
        run: yarn install --immutable
      - name: Build
        if: ${{ steps.release.outputs.release_created }}
        run: yarn run build
      - name: Publish
        run: npm publish
        if: ${{ steps.release.outputs.release_created }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
